apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.Values.app_name}}-validation
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{.Values.app_name}}
  template:
    metadata:
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "{{.Values.app_name}}"
        dapr.io/log-level: "debug"
      labels:
        app: {{.Values.app_name}}
        aadpodidbinding: {{.Values.msi_selector}}
    spec:
      containers:
      - name: utils
        image: {{.Values.utils_container}}
        imagePullPolicy: Always