import { test, expect, PlaywrightTestConfig } from '@playwright/test';

test('test transcription', async ({ page }) => {
  await page.goto('https://{{url}}');
  await page.click('input[type="file"]');
  await page.setInputFiles('input[type="file"]', '../assets/Recording.m4a');
  await page.click('text=Upload Recording.m4a');
  await page.waitForSelector('text=Completed', { timeout: 0 });
  await page.click('text=Get Transcription');
  await page.waitForTimeout(1000);
  const transcription = await page.innerText('div.card-body');
  expect(transcription).toBe('This is a simple test message to be translated.');
  await page.screenshot({ path: 'screenshot.png' });
});